.navigationSidebar {
  position: absolute;
  z-index: 5;
  top: 55px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 280px;
  max-width: 90%;
  height: calc(100% - 55px);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.6s;
  transition-property: transform;
  transform: translate3d(-150%, 0, 0);
  transform-style: preserve-3d;
  will-change: transform;
  color: #616161;
  background-color: #f5f5f5;
  box-shadow: 1px 0 8px 1px rgba(0, 0, 0, 0.28);
  text-shadow: 0 1px 0 #fff;
}

.navigationSidebar.hideRight {
  transform: translate3d(250%, 0, 0);
}

.navigationSidebar.right.visible {
  transform: translate3d(0, 0, 0);
}

.navigationSidebar.hideLeft {
  transform: translate3d(-250%, 0, 0);
}

.navigationSidebar .scroll {
  top: 55px;
  height: calc(100% - 55px);
  padding: 10px;
}


/* Sidebar Top */

.navigationSidebar .logoBlock {
  z-index: 3;
  width: 100%;
  height: 55px;
  margin: 0;
  padding: 0;
  padding: 15px 20px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background: #651fff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.31);
}

.navigationSidebar .logoBlock .logoText {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}

.navigationSidebar .logoBlock i.logoText {
  margin-right: 8px;
}

.navigationSidebar .sectionWrap .navItem {
  padding: 8px 20px;
}

.navigationSidebar .sectionWrap .sectionWrap .navItem {
  padding: 9px 25px;
}

.navigationSidebar .logoBlock .logoMotto {
  color: #80d8ff;
}

.navigationSidebar .navTitle {
  font-size: 20px;
  line-height: 64px;
  position: relative;
  display: block;
  padding-left: 40px;
  -webkit-user-select: none;
  user-select: none;
  letter-spacing: 0.02em;
}


/* Sidebar Section Title */

.navigationSidebar .navItem.sectionTitle {
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 8px;
  padding: 10px 10px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
}

.navigationSidebar .navItem.sectionTitle:hover .text {
  color: #7c4dff;
}

.navigationSidebar .navItem.sectionTitle.current .text {
  color: #3F00FF;
}




/* Sidebar Items */

.navigationSidebar .navItem {
  font-size: calc(0.90em + 0.1vh);
  font-weight: 500;
  position: relative;
  z-index: 0;
  display: block;
  overflow: hidden;
  margin: 5px 0;
  padding: 5px 16px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.3s ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  color: #616161;
  border-radius: 3px;
  background-color: transparent;
  text-shadow: 0 1px 0 #fff;
}

.navigationSidebar .navItem::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  content: '';
  transition: all 0.6s ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.navigationSidebar .navItem:hover::after {
  width: 50%;
}

.navigationSidebar .navItem:hover:active::after {
  width: 100%;
}



.navigationSidebar .navItem .iconWrap {
  position: relative;
}

.navigationSidebar .navItem.sectionTitle .icon.system-icon {
  font-size: 24px;
  position: absolute;
  right: 0;
}

.navigationSidebar .navItem .icon.system-icon {
  font-size: 24px;
}

.navigationSidebar .navItem .icon {
  font-size: 19px;
}

.navigationSidebar .navItem .iconWrap .effect {
  position: absolute;
  z-index: -1;
  top: 11px;
  right: 8px;
  display: block;
  width: 0;
  height: 0;
  transition: all 0.4s ease;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.06);
}

.navigationSidebar .navItem:hover {
  color: #000;
}

.navigationSidebar .navItem:hover:active .iconWrap .effect {
  top: -6px;
  right: -6px;
  left: auto;
  width: 36px;
  height: 36px;
  opacity: 1;
}


/* Sidebar Open */

.sidebarOpen .navigationSidebar.menu {
  transform: translate3d(0, 0, 0);
}

.sidebarOpen #contentWrap {
  width: calc(100% - 280px);
}
