<div id="{{id}}" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog  uk-margin-auto-vertical uk-modal-container">

        <btn modalCloseDefault="true" />

        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{{title}}</h2>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>
            {{#bodyPartial}}
                {{>makePartial('${bodyPartial}', bodyPartial)}}
            {{/}}
            {{>content}}
        </div>

        <div class="uk-modal-footer uk-text-right">
            <btn modalClose="true" title="Cancel" />
            {{#actionBtn}}
                <btn type="{{type}}" icon="{{icon}}" click="{{click}}" modalClose="true" title="{{title}}" />
            {{/}}
        </div>

    </div>
</div>