<div class="item {{active? 'active': ''}} full clearfix" on-click="routerLoad" data-href="/@{{username}}">
  <div class="headline text">
    <a>@{{username}}</a>
  </div>
  {{#status === 0 && $.credit.accountID != from}}
    <div class="actions">
      <div class="action green box animate accept" on-click="accept" as-tooltip='"Accept"'><icon name="check" /></div>
      <div class="action red box animate decline" on-click="decline" as-tooltip='"Decline"'><icon name="cancel" /></div>
    </div>
  {{/}}
  {{#$.credit.accountID === from}}
    <div class="actions">
      <div class="action red box animate decline" on-click="delete" as-tooltip='"Delete Request"'><icon name="cancel" /></div>
    </div>
  {{/}}
</div>
