<div class="fill scroll animate {{color ? 'theme'+color : 'themeIndigo'}} pageComponent">
  <hero config="{{hero}}" language="{{language}}" />
	<div class="animate pageWrap maxFull marginAuto fadeInDown {{buttonTitle ? 'withButtonBlock' : ''}} {{color ? color : 'blue'}}">
		<div class="contentWrap">
			<div>
				{{#dynamic:key}}
					{{#.}}
						{{>[key]}}
					{{/}}
				{{/}}
			</div>
			{{>contentPartial}}
			{{#buttonTitle}}
				<btn title="{{buttonTitle}}" icon="{{buttonIcon}}" click="{{buttonClick ? buttonClick : ''}}" class="{{buttonColor ? buttonColor : 'blue'}}" />
			{{/buttonTitle}}
		</div>
	</div>
</div>
