:host {
	display: inline-flex;
	color: var(--icon-color);
	transition: color 0.15s ease;
}
:host(:hover) {
	color: var(--icon-color-hover);
}
:host(.active),
:host([active]) {
	color: var(--icon-color-active);
}
ui-button {
	color: inherit;
}
