{
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "jsxBracketSameLine": true,
    "proseWrap": "never",
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": "*.hbs",
            "options": {
                "singleQuote": false
            }
        }
    ]
}
