{{#if items && items.length > 0}}
    <div class="uk-card-media-top uk-width-1-1 {{roundedTop? 'largeRoundedTop': ''}}">
        <div class="uk-position-relative uk-light" uk-slideshow="animation: fade">
            <ul class="uk-slideshow-items {{roundedTop? 'largeRoundedTop': ''}}" uk-lightbox="animation: fade">
                {{#items}}
                    <a data-type="image" href="/attachment/{{this}}">
                        <img src="/attachment/{{this}}"  uk-cover />
                    </a>
                {{/}}
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" uk-slidenav-next uk-slideshow-item="next"></a>
            {{#if !@shared.mobile}}
                <div class="uk-position-bottom-center uk-position-small">
                    <ul class="uk-thumbnav uk-grid-match" uk-grid>
                        {{#items}}
                            <li uk-slideshow-item="{{@index}}">
                                <a class="uk-flex uk-flex-center uk-cover-container">
                                    <canvas width="100" height="60"></canvas>
                                    <img src="/attachment/{{this}}" uk-cover>
                                </a>
                            </li>
                        {{/}}
                    </ul>
                </div>
            {{/if}}
            
        </div>
    </div>
{{/if}}