{{#if this.label}}
    <div class="uk-margin">
        <label class="uk-form-label" {{#$.isString(placeholder || tooltip)}} for="form-{{$.camelCase(placeholder || tooltip)}}" {{/}}>{{(this.label)? this.label : ''}}</label>
            <div class="uk-form-controls">
                {{#if this.type === 'plain'}}
                    {{{description}}}
                {{elseif this.type === 'select'}}
                    <div class="uk-form-controls">
                        <select class="uk-select" tabindex="{{tabindex}}" on-change="@.fire(change, @context)" {{#$.isString(placeholder || tooltip)}} for="form-{{$.camelCase(placeholder || tooltip)}}" {{/}}>
                            {{#each options}}
                                <option value="{{value}}" {{(active)? 'selected' : '' }}>{{title}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{elseif this.type === 'textarea'}}
                    <textarea autocomplete="{{autocomplete}}" class="uk-textarea"
                        tabindex="{{tabindex}}"
                        on-change="@.fire(change, @context)" checked="{{checked}}"
                        rows="{{(this.rows)? this.rows : '3'}}" 
                        placeholder="{{this.placeholder}}" 
                        {{#$.isString(placeholder || tooltip)}} for="form-{{$.camelCase(placeholder || tooltip)}}" {{/}} 
                        value="{{value}}">{{value}}</textarea>
                {{elseif this.type === 'checkbox'}}
                    <input autocomplete="{{autocomplete}}" tabindex="{{tabindex}}" type="checkbox" 
                    uk-tooltip="title: {{tooltip}}" on-click="@.fire(click, @context)" 
                        {{#$.isString(placeholder || tooltip)}} for="form-{{$.camelCase(placeholder || tooltip)}}" {{/}} 
                    checked="{{checked}}" on-change="@.fire(change, @context)"  /> <br />
                    {{{this.description}}}
                {{elseif this.type === 'radio'}}
                    <input autocomplete="{{autocomplete}}" tabindex="{{tabindex}}" type="radio" uk-tooltip="title: {{tooltip}}" 
                        {{#$.isString(placeholder || tooltip)}} for="form-{{$.camelCase(placeholder || tooltip)}}" {{/}} on-click="@.fire(click, @context)" 
                            checked="{{checked}}" on-change="@.fire(change, @context)"  /> <br />
                    {{{this.description}}}
                {{elseif this.type === 'search'}}
                    <input class="{{this.class}} uk-search-input" 
                        tabindex="{{tabindex}}"
                        autocomplete="{{autocomplete}}" 
                        value="{{this.value}}"
                        on-keyup="@.fire(keyup, @context)" 
                        on-click="@.fire(click, @context)"
                        on-change="@.fire(change, @context)" 
                        {{#$.isString(placeholder || tooltip)}} for="form-{{$.camelCase(placeholder || tooltip)}}" {{/}} 
                        uk-tooltip="title: {{tooltip}}"
                        placeholder="{{this.placeholder}}" 
                        type="search" />
                {{elseif this.type === 'number'}}
                    <input class="{{this.class}} uk-input" 
                        value="{{this.value}}" 
                        tabindex="{{tabindex}}"
                        autocomplete="{{autocomplete}}" 
                        on-keyup="@.fire(keyup, @context)" 
                        on-click="@.fire(click, @context)" 
                        on-change="@.fire(change, @context)" 
                        {{#$.isString(placeholder || tooltip)}} for="form-{{$.camelCase(placeholder || tooltip)}}" {{/}} 
                        uk-tooltip="title: {{tooltip}}" 
                        placeholder="{{this.placeholder}}" 
                        type="{{(this.type)? this.type : 'text'}}" />
                {{else}}
                    <input class="{{this.class}} uk-{{(this.type === 'text' || this.type === 'password') ? 'input': this.type || 'input' }}" 
                        value="{{this.value}}" 
                        tabindex="{{tabindex}}"
                        autocomplete="{{autocomplete}}" 
                        on-keyup="@.fire(keyup, @context)" 
                        on-click="@.fire(click, @context)" 
                        on-change="@.fire(change, @context)" 
                        {{#$.isString(placeholder || tooltip)}} for="form-{{$.camelCase(placeholder || tooltip)}}" {{/}} 
                        uk-tooltip="title: {{tooltip}}" 
                        placeholder="{{this.placeholder}}" 
                        type="{{(this.type)? this.type : 'text'}}" />
                {{/if}}
            </div>
    </div>
{{else}}
    {{#if this.type === 'plain'}}
        {{{description}}}
    {{elseif this.type === 'select'}}
        <div class="uk-form-controls">
            <select class="uk-select" on-change="@.fire(change, @context)" >
                {{#each options}}
                    <option value="{{value}}" {{(active)? 'selected' : '' }}>{{title}}</option>
                {{/each}}
            </select>
        </div>
    {{elseif this.type === 'textarea'}}
        <textarea autocomplete="{{autocomplete}}" 
            on-change="@.fire(change, @context)"  
            tabindex="{{tabindex}}" 
            class="uk-textarea" rows="{{(this.rows)? this.rows : '3'}}" 
            placeholder="{{this.placeholder}}">{{value}}</textarea>
    {{elseif this.type === 'checkbox'}}
        <input autocomplete="{{autocomplete}}" 
            type="checkbox" uk-tooltip="title: {{tooltip}}" 
            tabindex="{{tabindex}}" 
            on-change="@.fire(change, @context)" 
            on-click="@.fire(click, @context)" 
            checked="{{checked}}" /> <br />
        {{{this.description}}}
    {{elseif this.type === 'radio'}}
        <input autocomplete="{{autocomplete}}"  
            type="radio" 
            tabindex="{{tabindex}}" 
            uk-tooltip="title: {{tooltip}}" 
            on-change="@.fire(change, @context)" 
            on-click="@.fire(click, @context)" 
            checked="{{checked}}" /> <br />
        {{{this.description}}}
    {{elseif this.type === 'search'}}
        <input class="{{this.class}} uk-search-input" 
            autocomplete="{{autocomplete}}" 
            value="{{this.value}}" 
            tabindex="{{tabindex}}" 
            on-keyup="@.fire(keyup, @context)" 
            on-click="@.fire(click, @context)"
            on-change="@.fire(change, @context)" 
            uk-tooltip="title: {{tooltip}}"
            placeholder="{{this.placeholder}}" 
            type="search" />
    {{elseif this.type === 'number'}}
        <input class="{{this.class}} uk-input" 
            value="{{this.value}}" 
            tabindex="{{tabindex}}"
            autocomplete="{{autocomplete}}" 
            on-keyup="@.fire(keyup, @context)" 
            on-click="@.fire(click, @context)" 
            on-change="@.fire(change, @context)" 
            uk-tooltip="title: {{tooltip}}" 
            placeholder="{{this.placeholder}}" 
            type="{{(this.type)? this.type : 'text'}}" />
    {{else}}
        <input class="{{this.class}} uk-{{(this.type === 'text' || this.type === 'password') ? 'input': this.type }}" 
            autocomplete="{{autocomplete}}" 
            value="{{this.value}}" 
            tabindex="{{tabindex}}" 
            on-keyup="@.fire(keyup, @context)" 
            on-click="@.fire(click, @context)" 
            on-change="@.fire(change, @context)" 
            uk-tooltip="title: {{tooltip}}" 
            placeholder="{{this.placeholder}}" 
            type="{{this.type}}" />
    {{/if}}
{{/if}}
