html,
body {
	font-family: 'Fira Sans', sans-serif;
}

.browserControls {
	border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

.browserControls,
.browserControls .uk-navbar-item,
.browserControls .uk-navbar-nav,
.browserControls .uk-input {
	height: 50px;
	min-height: 50px;
}

.browserControls .uk-input {
	border-bottom: 0px;
	border-right: 0px;
	border-top: 0px;
}

.browserControls .uk-navbar-nav a .uk-icon {
	padding: 5px;
	border-radius: 5px;
}

.browserControls .uk-navbar-nav a:hover .uk-icon {
	background-color: rgba(0, 0, 0, 0.07);
}

.browserControls .uk-navbar-nav > li > a {
	min-height: 50px;
	padding: 0 6px;
}

.right {
	float: right;
}

iframe,
webview {
	left: 0px;
	position: absolute;
	width: 100%;
	height: calc(100% - 51px);
	top: 51px;
}

.browserControls .urlbar {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #1d1c21;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	border: none;
	box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.1);
}
.browserControls .col.s12 {
	padding: 0px;
}
.browserControls .col.s12 input {
	padding-left: 20px;
	max-width: calc(100% - 20px);
}
.browserControls .btn-floating {
	margin-top: 7px;
}
