<div class="hero block clearfix {{config.class}}">
	<div class="bg" style="background-color:{{config.background.color}};background-image:url({{config.background.image}});background-position:{{config.background.position}};background-size:{{config.background.size}};"></div>
	{{#language.hero.headline || config.headline}}
		<div class="headlineWrap">
			<div class="headline fadeInUpText slow">
				{{language.hero.headline ? language.hero.headline : config.headline}}
				{{#config.icon}}
					<icon name="{{config.icon}}" />
				{{/}}
			</div>
			<div class="description fadeInUpText slow2x">
				{{language.hero.description || config.description}}
			</div>
		</div>
	{{/}}
</div>
