/* toolbarComponent Mods */
.toolbarComponent {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.toolbarComponent .navItem .icon {
  position: relative;
  z-index: 2;
}

.toolbarComponent .navItem {
  position: relative;
  overflow: visible;
  color: #727e7c;
}

.toolbarComponent .navItem:hover:active {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.toolbarComponent .navItem:hover:active::before {
  height: 100%;
}

.toolbarComponent .navItem.active {
  color: #040507;
}

.toolbarComponent .navItem.active::before {
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #ff4081;
}

.toolbarComponent .navItem.active:hover::before {
  background-color: #ff4081;
}

.toolbarComponent .navItem::before {
  position: absolute;
  z-index: -1;
  top: auto;
  right: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  content: ' ';
  transition: all 0.3s ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.toolbarComponent .navItem:hover::before {
  right: 0;
  width: 100%;
  background-color: #5d7bf7;
}

.toolbarComponent .navItem:hover {
  color: #1a1e21;
}

.toolbarComponent .navItem .effect {
  position: absolute;
  z-index: 0;
  top: 23px;
  left: 23px;
  width: 0;
  height: 0;
  transition: all 0.3s ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  background-color: transparent;
}

.toolbarComponent .navItem:hover .effect {
  top: 11px;
  left: 4px;
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.1);
}

.toolbarComponent .navItem .icon.fadeOut {
  display: none;
}

.toolbarComponent .dropdown {
  position: absolute;
  z-index: 1;
  top: 65px;
  right: 10px;
  min-width: 300px;
  min-height: 30px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.toolbarComponentComponent .dropdown .headlineWrap {
  font-size: 24px;
  padding-left: 15px;
  color: #fff;
  border-radius: 3px 3px 0 0;
  background-color: #90caf9;
}

.toolbarComponentComponent .dropdown .headlineWrap .action {
  float: right;
  margin-right: 5px;
}

.toolbarComponentComponent .dropdown .headlineWrap .action:hover {
  color: #3e2723;
}
