<div class="friendsDropdownComponent">
  <div class="headlineWrap headerFont">
    <span class="headerFont headline">Friends</span>
    <span class="action" on-click="toggleDropdown"><icon name="close" /></span>
    <div class="full clearfix filters">
      {{#filters}}
        <div class="item {{filter === mode? 'active' : ''}}" as-tooltip='tooltip' on-click='filter'>
          <icon name='{{icon}}' />
          {{#stats()}}
            {{#stats()[count] && stats()[count] > 0}}
              <div class="count">
                <span class="text">{{stats()[count]}}</span>
              </div>
            {{/}}
          {{/}}
        </div>
      {{/}}
    </div>
  </div>
  <div class="list scroll" on-wheel="loadMoreCheck">
    {{#filter === 'read'}}
        {{#items}}
          {{#status === 1}}
            {{>friend}}
          {{/}}
        {{/}}
    {{/}}
    {{#filter === 'pending'}}
        {{#items}}
          {{#status === 0}}
            {{>friend}}
          {{/}}
        {{/}}
    {{/}}
    {{#filter === 'muted'}}
        {{#items}}
          {{#status === 3}}
            {{>friend}}
          {{/}}
        {{/}}
    {{/}}
    {{#filter === 'search'}}
      <input on-keyup="searchUsername" class="full" type="text" value="{{search}}" placeholder="Search friends by username" />
        {{#searchResults}}
          {{>friend}}
        {{/}}
    {{/}}
  </div>
  <toolbar items="{{toolbar.items}}" />
</div>
