button.negative {
  color: #fff;
  background-color: #d50000;
}

button.negative:hover {
  background-color: #ff5252;
}

button.positive {
  color: #fff;
  background-color: #43a047;
}

button.positive:hover {
  background-color: #66bb6a;
}