<nav class="menuBar fadeIn {{this.class}}">
	{{#items:item}}
		{{#this.options.length || this.click}}
			<div class="clickable menuBarItem noHL
			{{icon ? '' : 'textOnly'}}
			{{right ? 'right' : 'left'}} dropdown
			{{options.length ? 'dropdownOnly' : ''}}
			{{active ? 'active' : ''}}" on-click="@this.fire('multi',@context,this.click)" as-tooltip='tooltip'>
        {{#busy}}
          {{#progress}}
            <progress as-tooltip='tooltip' value="{{progress}}" max="{{max}}"></progress>
          {{/}}
        {{/}}
				{{#icon}}
					<icon name="{{this.icon}}" />
				{{/}}
				{{#text && sizeStyle=="hdScreen"}}
					<span class="text {{text ? '' : 'hide'}}">{{text}}</span>
				{{/}}
				{{#options && $.keys(options).length}}
				<div class="dropdownMenu">
					{{#options:item}}
						<div class="item left clearRight animate {{this.active ? 'active' : ''}}" on-click="@this.fire('multi',@context,this.click)" as-tooltip='this.tooltip'>{{this.text}}</div>
					{{/}}
				</div>
				{{/}}
			</div>
		{{/}}
	{{/}}
</nav>
