<div class="full fill absolute scroll hud fadeIn fullSlidePanel fill {{hide? 'hideRight' : 'visible'}} animate theme{{theme}}">
	<div class="titleWrap">
		<div class="titlebarButtons left">
			<div class="left pointer titlebarButton animate" on-click="@.set('hide', true)" as-tooltip='"Close HUD"'><icon name="close" /></div>
		</div>
		<span class="title headerFont">{{hudTitle}} {{#loading}} <i class="icon icon-spinner icon-spin block right"></i> {{/}}</span>
		<div class="titlebarButtons right">
			{{#btnsRight:key}}
				<div class="left pointer titlebarButton animate" as-tooltip='this.tooltip' on-click='@.fire(click,@context)'><icon name="{{this.icon}}" /></div>
			{{/}}
		</div>
	</div>
	{{>hudContent}}
</div>
