@import './variables.css';
/* ── Reset ─────────────────────────────────────────── */
html {
	font-size: clamp(14px, 1.3vw, 18px);
}

@media (min-width: 2560px) {
	html {
		font-size: clamp(14px, 1vw, 18px);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ── Body ──────────────────────────────────────────── */
body {
	background-color: var(--bg-body);
	color: var(--text-main);
	font-family: var(--font-mono);
	font-size: .8rem;
	line-height: 1.5;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	cursor: crosshair;
	user-select: none;
}

/* ── Buttons ──────────────────────────────────────────── */
button,
[role='button'] {
	cursor: pointer;
}
