<nav class="navigationBar navigationbarComponent">
	{{#items}}
		{{#loginStatus() === loginState || loginState === undefined}}
		<div class="navItem noHL {{icon ? '' : 'textOnly'}} {{right ? 'right' : 'left'}} {{$.has($.compactKeys(classes),this.currentClass) || this.active ? 'active' : ''}} {{dropdown && dropdown.state? 'active dropdownMode': ''}}"
			on-click="@this.fire('multi',@context,this.click)">
				{{#icon}}
					<icon class="{{this.active && .currentIcon ? 'fadeOut hide' : 'fadeIn'}}" name="{{this.icon}}" tooltip="{{this.tooltip}}" />
					{{#currentIcon}}
						<icon class="currentIcon {{this.active ? 'fadeIn' : 'fadeOut'}}" name="{{this.currentIcon}}" tooltip="{{this.tooltip}}" />
					{{/}}
				{{/}}
				<div class="effect"></div>
				{{#sizeStyle != 'mobileScreen' && sizeStyle != 'smallScreen' && text}}
					<span class="text {{text ? '' : 'hide'}}">{{text}}</span>
				{{/}}
        {{#stats()}}
          {{#stats()[count] && stats()[count] > 0}}
            <div class="count">
              <span class="text">{{stats()[count]}}</span>
            </div>
          {{/}}
        {{/}}
		</div>
      {{#this.dropdown}}
        {{#this.name.length > 0}}
          <dropPanel options="{{this}}" />
        {{/}}
      {{/}}
		{{/}}
	{{/}}
</nav>
