{{#loginStatus()}}
	<div class="chatComponent">
		<div class="navigationSidebar hideRight chatSidebar {{$.compactKeys(this.classes)}}">
			<div class="titleBar">
				{{#actions:key}}
					<div class="action {{this.active ? 'active' : ''}}" on-click="{{this.click}}" as-tooltip='this.tooltip'>
						<icon name="{{this.icon}}" />
						<div class="effect"></div>
					</div>
				{{/}}
			</div>
			<div class="chatSections">
				<div class="scroll absolute fill scrollWrap items {{this.panel == 'teams'? '' : 'hideRight'}}">
					{{#teams:key}}
						{{>team}}
					{{/}}
				</div>
				<div class="scroll absolute fill scrollWrap items {{this.panel == 'friends'? '' : 'hideRight'}}">
					{{#friends:key}}
						{{#this.user.id != $.credit.accountID}}
							{{>user}}
						{{/}}
					{{/}}
				</div>
				<div class="scroll absolute fill scrollWrap items {{this.users.length > 0? '' : 'hideRight'}}">
					{{#teamUsers:key}}
						{{#this.user.id != $.credit.accountID}}
							{{>user}}
						{{/}}
					{{/}}
				</div>
			</div>
		</div>

		{{#chatWindow && currentChat}}
			<div class="chatWindow {{chatMinimize ? 'minimize' : ''}}">

				<div class="titleBar" on-click="minimizeChat">
					<a class="headline" on-click="routerLoad" data-href="/@{{currentChat.username}}">@{{currentChat.username}}</a>
					<span class="right">
						<span class="action" on-click="closeChat">
							<icon name="close" />
							<div class="effect"></div>
						</span>
					</span>
				</div>

				<div class="messages" on-wheel="scroll">
					{{#messages[currentChat.userId]}}
						<div class="message {{this.from === $.credit.accountID? 'sent': 'received'}} clearfix">
							<div class="content">
								{{this.message}}
							</div>
						</div>
					{{/}}
				</div>

				<textarea placeholder="Type then press enter to send" on-keyup="chatMessage" value="{{message}}" on-click="textarea"></textarea>
			</div>
		{{/}}
	</div>
{{/}}
