<div class="item full clearfix" on-click="@context.toggle('active')">
  <div class="headline text">
    <a>{{title}}</a>
  </div>
    <div class="actions">
      <div class="action red box animate decline" on-click="delete" as-tooltip='"Delete Account Note"'><icon name="cancel" /></div>
    </div>
    {{#active}}
      <div class="full left clearfix padded" on-click="preventDefault">
        <i>Network</i> <br />
        <input type="text" value="{{network}}" placeholder="Type the network" on-keyup='updateNote' />
        <i>Account</i> <br />
        <input type="text" value="{{account.username}}" placeholder="Type the username" on-keyup='updateNote' />
        <input type="text" value="{{account.password}}" placeholder="Type the password" on-keyup='updateNote' />
        <i>Proxy</i> <br />
        <input type="text" value="{{proxy.username}}" placeholder="Type the username" on-keyup='updateNote' />
        <input type="text" value="{{proxy.password}}" placeholder="Type the password" on-keyup='updateNote' />
        <input type="text" value="{{proxy.ip}}" placeholder="Type the ip" on-keyup='updateNote' />
        <input type="text" value="{{proxy.port}}" placeholder="Type the ip" on-keyup='updateNote' />
        <select value="{{proxy.ipVersion}}" on-change='updateNote'>
          <option value="IPv6">IPv6</option>
          <option value="IPv4">IPv4</option>
        </select>
      </div>
    {{/}}
</div>
