.overlayComponent .overlay {
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlayComponent .contentWrap {
  max-height: 80%;
  width: 350px;
  max-width: 100%;
  margin-bottom: 50px;
  padding: 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}

.overlayComponent .contentWrap .scroll {
  max-height: 500px;
}

.overlayComponent .contentWrap .box {
  padding: 30px;
}

.overlayComponent .contentWrap .avatar {
  width: 300px;
  max-width: 100%;
}

.overlayComponent  button{
  box-shadow: none;
}
