#contentWrap {
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    width:100%;
    height: calc(100% - 80px);
    top: 80px;
    right:0px;
    position: absolute;
    padding: 0px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.4s;
    transition-property: all;
}