<div class="fill scroll animated {{theme ? 'theme'+theme : 'themeBlue'}}">
	<div class="headerBlock block clearfix">
		<div class="wrap clearfix">
			<div class="left">
				{{#titleIcon}}
					<span class="title">
						<icon name="{{titleIcon}}" />
					</span>
				{{/}}
				<span class="title">{{language.title}}</span>
				{{#language.description}}
					<div class="description accent">{{{language.description}}}</div>
				{{/language.description}}
			</div>
		</div>
	</div>
	<div class="animate pageWrap maxFull marginAuto fadeInDown {{buttonTitle ? 'withButtonBlock' : ''}} {{color ? color : 'blue'}}">
		<div class="contentWrap">
			{{>contentPartial}}
		</div>
	</div>
</div>
