/* Custom Default theme for blotr  */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto:500,900');

body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  background-color: #ececec;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.headerFont,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: 'Roboto', sans-serif;
}

/* Link Mods */

a {
  color: #2979ff;
}

a:hover {
  color: #00b0ff;
}

/* shadows */

.shadowBox {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* gloss */

.gloss {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.1)), color-stop(1, rgba(0, 0, 0, 0)));
}

/* Text modes */

input[type='email'].error,
input[type='text'].error,
input[type='password'].error,
input[type='url'].error,
textarea.error {
  border-bottom-color: #ee1822;
}

input[type='email'].valid,
input[type='text'].valid,
input[type='password'].valid,
input[type='url'].valid,
textarea.valid {
  border-bottom-color: #1abc9c;
}

/* blue */

.block.blue {
  color: #fff;
  background-color: #2196f3;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.blueAccent {
  color: #e3f2fd;
}

button.blue {
  background-color: #448aff;
}

button.blue:hover {
  background-color: #82b1ff;
}

/* lightBlue */

.themeLightBlue .block {
  background-color: #03a9f4;
}

.themeLightBlue .menuBar,
.block.lightBlue {
  color: #fff;
  background-color: #00b0ff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.themeLightBlue .menuBar.navigationBar .menuBarItem:hover::before {
  background-color: #f8bbd0;
}

button.lightBlue {
  background-color: #40c4ff;
}

button.lightBlue:hover {
  background-color: #80d8ff;
}

/* red */

.block.red {
  color: #fff;
  background-color: #f44336;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* amber */

.block.amber {
  color: #263238;
  background-color: #ffca28;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* purple */

.themePurple .block,
.themePurple .menuBar,
.block.purple {
  color: #fff;
  background-color: #651fff;
  text-shadow: 0 1px 0 #000;
}

.themePurple .accent {
  color: #84ffff;
}

.themePurple .menuBar.navigationBar .menuBarItem:hover::before {
  background-color: #80d8ff;
}

.themePurple button {
  color: #fff;
  background-color: #03a9f4;
}

.themePurple button:hover {
  background-color: #4fc3f7;
}

/* indigo */

.themeIndigo .block,
.block.indigo {
  color: #fff;
  background-color: #3f51b5;
}

.themeIndigo .menuBar {
  color: #fff;
  background-color: #3d5afe;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.themeIndigo .menuBar.navigationBar .menuBarItem:hover::before {
  background-color: #80d8ff;
}

/* indigo TABS */

.themeIndigo .tabs .tab.active::before {
  background-color: #f50057;
}

/* indigo A */

.themeIndigo a {
  color: #ff4081;
}

.themeIndigo a:hover {
  color: #3d5afe;
}

.themeIndigo a:active {
  color: #536dfe;
}

.themeIndigo .card .tag .count {
  color: #fff;
  background-color: #3d5afe;
}

/* indigo BUTTONS */

.themeIndigo button,
.themeIndigo .block,
.block.indigo,
button.indigo {
  color: #fff;
  background-color: #536dfe;
}

.themeIndigo button:hover,
button.indigo:hover {
  background-color: #8c9eff;
}

.themeIndigo button:hover:active {
  background-color: #ff80ab;
}

.themeIndigo button.donate {
  color: #fff;
  background-color: #f44336;
}

.themeIndigo button.donate:hover {
  background-color: #e57373;
}

.themeIndigo button.donate:hover:active {
  background-color: #ef9a9a;
}

/* themeDeepPurple */

.themeDeepPurple .block,
.block.deepPurple {
  color: #fff;
  background-color: #651fff;
}

.themeDeepPurple .menuBar {
  color: #fff;
  background-color: #5e35b1;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.themeDeepPurple .menuBar.navigationBar .menuBarItem:hover::before {
  background-color: #80d8ff;
}

.themeDeepPurple .list .item.active {
  background-color: #651fff;
}

/* themeDeepPurple BUTTONS */

.themeDeepPurple button {
  color: #fff;
  background-color: #651fff;
}

.themeDeepPurple button:hover,
button.indigo:hover {
  background-color: #7c4dff;
}

.themeDeepPurple button:hover:active {
  background-color: #b388ff;
}

/* brown */

.themeBrown button,
.themeBrown .block {
  color: #fff;
  background-color: #8d6e63;
}

.themeBrown .menuBar,
.block.brown {
  color: #fff;
  background-color: #a1887f;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.themeBrown .menuBar.navigationBar .menuBarItem:hover::before {
  background-color: #81c784;
}

/* Brown BUTTONS */

.themeBrown button:hover {
  background-color: #a1887f;
}

.themeBrown button:hover:active {
  background-color: #81c784;
}

/* pink */

.themePink .block {
  background-color: #81c784;
}

.themePink .menuBar,
.block.pink {
  color: #fff;
  background-color: #f48fb1;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.themePink .menuBar.navigationBar .menuBarItem:hover::before {
  background-color: #00796b;
}

button.pink {
  color: #fff;
  background-color: #f50057;
  text-shadow: 0 1px 0 #880e4f;
}

button.pink:hover {
  background-color: #ff4081;
}

button.pink:hover:active {
  background-color: #ff80ab;
}

button:hover:active {
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, inset rgba(0, 0, 0, 0.417647) 0 0 4px 0;
}
