<div id="mainWrap" class="{{$.compactKeys(@shared.classes).join(' ')}} {{@shared.screenSize}} {{@shared.theme ? 'theme'+@shared.theme : ''}}" uk-height-viewport>
	{{#alerts.length}}
		<div class="alertBox uk-alert-close uk-alert-{{(alerts.0.type) ? type : 'success'}}" animation="true" duration="3000" uk-alert>
			<a class="uk-alert-close" uk-close></a>
			<p>{{alerts.0.message}}</p>
		</div>
	{{/}}
	<div id="contentWrap" class="uk-container uk-width-expand uk-flex uk-grid-collapse">
		{{#@shared.components.layout:key}}
			{{#.}}
				{{>getComponent(key)}}
		   {{/}}
		{{/}}
		{{#@shared.navState}}
			<navstate />
		{{/}}
	</div>
	{{#@shared.components.dynamic:key}}
		{{#.}}
		 {{>getComponent(key)}}
		{{/}}
	{{/}}
</div>
