:host {
	display: block;
	inline-size: 100%;
}
.aspect-ratio {
	position: relative;
	inline-size: 100%;
	overflow: hidden;
	border-radius: inherit;
}
.aspect-ratio-inner {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: stretch;
}
.aspect-ratio-inner > ::slotted(*) {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
}
