<div>
    <inpt label="Question title" type="text" placeholder="Question title"
    value="{{this.title}}" keypath="{{@keypath}}" />

        <ul class="uk-grid-medium uk-child-width-auto uk-child-width-auto@s uk-text-center" data-keypath="{{@keypath}}" on-moved="organization.edit.moved" uk-grid>
            {{#organization.edit.question.options}}
                <li data-keypath="{{@keypath}}" data-index="{{@index}}">
                    <div class="uk-border-rounded uk-card uk-card-default uk-card-body uk-animation-slide-bottom-small uk-text-center">
                        <span data-keypath="{{@keypath}}" data-rootpath="{{@rootpath}}" class="uk-icon-button pointer uk-position-absolute uk-light" 
                            style="right: -10px; top: -10px" uk-icon="fa-times" 
                                on-click="['organization.edit.removeAnswer', @keypath, @index]"></span>
                                {{title}}
                    </div>
                </li>
            {{/}}
        </ul>
        <inpt label="Type answer & hit Enter"
        keyup="organization.edit.answer" 
        placeholder="Type an answer & hit enter?" keypath="{{@keypath}}" value="{{organization.edit.answer}}" />
</div>