<nav class="uk-navbar-container uk-margin browserControls" uk-navbar>
  <ul class="uk-navbar-nav">
    <li>
      <a href="#"
        ><span
          class="uk-icon"
          uk-icon="icon:  chevron-left"
          on-click="backward"
        ></span
      ></a>
    </li>
    <li>
      <a href="#"
        ><span
          class="uk-icon"
          uk-icon="icon:  chevron-right"
          on-click="forward"
        ></span
      ></a>
    </li>
    <li>
      <a href="#">
        <span class="uk-icon" uk-icon="icon: refresh" on-click="refresh"></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="uk-icon" uk-icon="icon: home" on-click="home"></span>
      </a>
    </li>
  </ul>
  <input
    class="uk-input uk-width-expand"
    type="text"
    placeholder="Website URL"
    value="{{newURL}}"
    on-keyup="urlbar"
  />
</nav>
{{#if load}}
<webview src="{{url}}" disablewebsecurity plugins></webview>
{{/if}} {{#if torrentMode}} {{/if}}
