<nav class="uk-navbar-container uk-margin browserControls" uk-navbar>
  <ul class="uk-navbar-nav">
    <li>
      <a href="#"><span class="uk-icon" uk-icon="icon:  chevron-left" on-click="backward"></span></a>
    </li>
    <li>
      <a href="#"><span class="uk-icon" uk-icon="icon:  chevron-right" on-click="forward"></span></a>
    </li>
    <li>
      <a href="#">
        <span class="uk-icon" uk-icon="icon: refresh" on-click="refresh"></span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="uk-icon" uk-icon="icon: home" on-click="home"></span>
      </a>
    </li>
  </ul>
  <input class="uk-input uk-width-expand" type="text" placeholder="Website URL" value="{{newURL}}" on-keyup="urlbar" />
  <ul class="uk-navbar-nav">
    <li>
      <a href="#modal-torrent" uk-toggle><span class="uk-icon" uk-icon="icon: fa-solid-magnet"></span></a>
    </li>
    <li>
      <a href="#modal-settings" uk-toggle><span class="uk-icon" uk-icon="icon: settings"></span></a>
    </li>
  </ul>
</nav>
{{#if load}}
  <webview src="{{url}}" id="webviewMain" plugins></webview>
{{/if}}
<div id="modal-torrent" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">{{torrent.title}}</h2>
    </div>
    <div class="uk-modal-body">
      <div class="uk-margin">
        <input value="{{torrent.magnet}}" class="uk-input" type="text" placeholder="Paste magnet link then hit enter"
          on-keyup="magnetStream">
      </div>
      <hr class="uk-divider-icon">
      <div id="torrentView"></div>
    </div>
  </div>
</div>
<div id="modal-settings" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">SETTINGS</h2>
    </div>
    <div class="uk-modal-body">
      <div uk-grid>
        <div class="uk-width-auto">

          <ul class="uk-nav uk-nav-default" uk-switcher="connect: #component-nav; animation: uk-animation-fade">
            <li><a href="#">Main</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Torrent</a></li>
          </ul>

        </div>
        <div class="uk-width-expand">

          <div id="component-nav" class="uk-switcher">
            <div>MAIN SETTINGS</div>
            <div>DEBUG</div>
            <div>TORRENT</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>