button.negative {
  color: #fff;
  background-color: #d50000;
}

button.negative:hover {
  background-color: #ff5252;
}

button.positive {
  color: #fff;
  background-color: #43a047;
}

button.positive:hover {
  background-color: #66bb6a;
}

button .uk-icon {
  margin-top: -3px;
  vertical-align: middle;
}

.uk-button {
    line-height: 48px;
    color: #191216;
}

.uk-button-primary {
  background-color: #00d7c5;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.03);
}

.uk-button-primary:active,
.uk-button-primary:hover {
  background-color: #01a29f;
}

.uk-child-width-1-1 .uk-grid-margin.uk-first-column .rounded.uk-width-1-1 {
  border-radius: 0px;
}

.uk-grid.uk-grid-collapse .uk-button {
    padding-right: 15px;
    padding-left: 15px;
}

.uk-button-group.uk-border-rounded>.uk-button.uk-border-rounded:first-child {
  border-radius: 3px 0 0 3px;
}

.uk-button-group>.uk-button:first-child {
  border-right: none;
  margin-right: 1px;
}


.uk-button-group.uk-border-rounded {
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
}

.uk-button-group.uk-border-rounded>.uk-button.uk-border-rounded:last-child {
  border-radius: 0px 3px 3px 0px;
  border-left: none;
}