/*
	Layout
*/

.layoutContainer {
  top: 55px;
  height: calc(100% - 55px);
}

html {
  overflow: hidden;
}

#contentWrap {
  right: 0;
  left: auto;
  transition: all 0.6s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate3d(0, 0, 0);
}
.paddedLarge {
  padding: calc(20px + 0.5vh) calc(20px + 0.5vw);
}

.grayBG input[type='email'],
.grayBG input[type='text'],
.grayBG input[type='password'],
.grayBG input[type='url'],
.grayBG textarea {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.grayBG textarea:focus,
.grayBG input[type='text']:focus,
.grayBG input[type='password']:focus,
.grayBG input[type='email']:focus,
.grayBG input[type='url']:focus {
  border-color: #506cd9;
}

.orange {
  color: #ff7e30;
}
.red {
  color: #e11b2b;
}

.content50 {
  top: 50px;
  height: calc(100% - 50px);
}
