.panelComponent {
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
}

.panelComponent .titleWrap {
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
  height: 55px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.panelComponent .titleWrap .titlebarButtons {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 55px;
}

.panelComponent .titleWrap .titlebarButtons.right {
  right: 0;
  left: auto;
}

.panelComponent .titleWrap .titlebarButton {
  width: 55px;
  height: 55px;
  text-align: center;
}

.panelComponent .titleWrap .titlebarButton:hover {
  box-shadow: inset 0 -3px 0 #ffc107;
}

.panelComponent .hud {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  margin-top: 0;
  background: #eaeaec;
}

.panelComponent .largeForm input[type='text'] {
  width: 100%;
}

.panelComponent .largeForm .left {
  width: 25%;
}
