<div class="panelComponent full fill absolute scroll hud fadeIn fullSlidePanel fill {{panel.hide? 'hideRight' : 'visible'}} animate theme{{panel.theme}}">
	<div class="titleWrap">
		<div class="titlebarButtons left">
			<div class="left pointer titlebarButton animate" on-click="closePanel" as-tooltip='"Close HUD"'><icon name="close" /></div>
		</div>
		<span class="title headerFont">{{panel.title}} {{#panel.loading}} <i class="icon icon-spinner icon-spin block right"></i> {{/}}</span>
		<div class="titlebarButtons right">
			{{#panel.btnsRight:key}}
				<div class="left pointer titlebarButton animate" as-tooltip='this.tooltip' on-click='@.fire(click, @context)'><icon name="{{this.icon}}" /></div>
			{{/}}
		</div>
	</div>
	{{ yield }}
</div>
