{{#loginStatus() === this.loginState || this.loginState === undefined}}
	{{#stateMode === this.mode || this.mode === undefined}}
		{{#this.section}}
			<div class="navItem noHL {{this.hide ? '' : 'current'}} {{this.icon ? '' : 'textOnly'}} sectionTitle headerFont" on-click="@this.fire('multi',@context,'sectionToggle',this.click)">
				<div class="right">
					<icon class="{{this.hide ? 'fadeIn' : 'fadeOut'}}" name="add" />
					<icon class="{{this.hide ? 'fadeOut' : 'fadeIn'}}" name="remove" />
					<div class="effect"></div>
				</div>
				{{#this.text}}
				    <span class="text noHL">{{this.text}}</span>
				{{/}}
			</div>
			{{#!this.hide}}
			<div class="sectionWrap fadeIn">
				{{#this.options:i}}
					{{>sidebarItem}}
				{{/}}
			</div>
			{{/}}
		{{else}}
			{{#!this.hide}}
				<div class="navItem iconHover noHL {{this.icon ? '' : 'textOnly'}}" as-tooltip="this.tooltip" on-click="@this.fire('multi',@context,this.click)">
					{{#this.icon}}
						<div class="right iconWrap">
							<icon name="{{this.icon}}" />
							<div class="effect"></div>
						</div>
					{{/}}
					{{#this.text}}
						<span class="text noHL">{{this.text}}</span>
					{{/}}
				</div>
			{{/}}
		{{/}}
	{{/}}
{{/}}
